### Historical Data Platform QA/QC Event Evaluation Procedure
**Event**: Santa Ana Wind Event<br>
Start date: 2/16/1988<br> 
End date: 2/19/1988<br>
Location: Los Angeles, Orange counties<br>
Variables: wind speed, wind direction, air temperature, humidity<br>

In [1]:
# import libraries
import pandas as pd
import numpy as np
import xarray as xr

In [5]:
# read in stations
train_stns = pd.read_csv('../qaqc_training_station_list_events.csv')
train_stns

,network,era-id,elevation,latitude,longitude,start_date,end_date,event_type,notes
0,ASOSAWOS,ASOSAWOS_72681024131,860.4504,43.567000,-116.24100,1931-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
1,OtherISD,OtherISD_72286023119,468.2000,33.900000,-117.25000,1933-01-01 00:00:00+00:00,2023-03-14 00:00:00+00:00,all,NaN
2,ASOSAWOS,ASOSAWOS_72698024229,6.7056,45.596000,-122.60900,1936-05-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
3,ASOSAWOS,ASOSAWOS_72492023237,8.2296,37.890000,-121.22600,1941-01-03 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
4,ASOSAWOS,ASOSAWOS_72384023155,149.3520,35.434000,-119.05500,1941-10-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
...,...,...,...,...,...,...,...,...,...
933,CWOP,CWOP_C0931,2959.0000,-114.135800,47.69420,NaN,NaN,NaN,NaN
934,RAWS,RAWS_TR343,1280.0000,47.956900,-124.26250,NaN,NaN,NaN,not cleaned
935,RAWS,RAWS_TR612,500.0000,57.883333,-135.58333,NaN,NaN,NaN,not cleaned
936,RAWS,RAWS_TT726,5650.0000,47.982767,-114.35590,NaN,NaN,NaN,not cleaned
937,RAWS,RAWS_TT739,3280.0000,58.670000,-136.74000,NaN,NaN,NaN,not cleaned

In [11]:
# identify stations with coverage of event
event_flags = ['all', 'santa_ana_wind']
event_stns = train_stns[train_stns['event_type'].isin(event_flags)]

# exclude "manual check on end date" for the time being -- SNOTEL stations all have 2100 as their end date regardless of when the data actually ends
mask = event_stns['notes'] == 'manual check on end date'
event_stns = event_stns[~mask]
event_stns

,network,era-id,elevation,latitude,longitude,start_date,end_date,event_type,notes
0,ASOSAWOS,ASOSAWOS_72681024131,860.4504,43.567000,-116.24100,1931-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
1,OtherISD,OtherISD_72286023119,468.2000,33.900000,-117.25000,1933-01-01 00:00:00+00:00,2023-03-14 00:00:00+00:00,all,NaN
2,ASOSAWOS,ASOSAWOS_72698024229,6.7056,45.596000,-122.60900,1936-05-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
3,ASOSAWOS,ASOSAWOS_72492023237,8.2296,37.890000,-121.22600,1941-01-03 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
4,ASOSAWOS,ASOSAWOS_72384023155,149.3520,35.434000,-119.05500,1941-10-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
...,...,...,...,...,...,...,...,...,...
161,CIMIS,CIMIS_68,-38.0000,32.759575,-115.73207,1987-05-29 00:00:00+00:00,2024-01-22 13:36:19.951554+00:00,all,NaN
163,CIMIS,CIMIS_75,410.0000,33.688450,-117.72118,1987-10-07 00:00:00+00:00,2024-01-22 13:36:19.951554+00:00,all,NaN
164,CIMIS,CIMIS_75,410.0000,33.688450,-117.72118,1987-10-07 00:00:00+00:00,2024-01-22 13:36:19.951554+00:00,all,NaN
165,CIMIS,CIMIS_76,160.0000,34.924000,-120.51200,1987-12-18 00:00:00+00:00,1993-07-01 00:00:00+00:00,santa_ana_wind,NaN
166,CIMIS,CIMIS_76,160.0000,34.924000,-120.51200,1987-12-18 00:00:00+00:00,1993-07-01 00:00:00+00:00,santa_ana_wind,NaN

In [ ]:
# identify stations that are in the geographic region we are looking for
# santa ana wind event, focusing on LA and Orange counties

In [12]:
# randomly select 20 stations for fine-tuning of this procedure by HAID and VF
subset_stns = santa_ana_stns.sample(20)
subset_stns

,network,era-id,elevation,latitude,longitude,start_date,end_date,event_type,notes
47,ASOSAWOS,ASOSAWOS_72483023232,5.7912,38.507000,-121.49600,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
65,ASOSAWOS,ASOSAWOS_72693024221,109.1184,44.133000,-123.21600,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
49,ASOSAWOS,ASOSAWOS_72494023234,3.0480,37.620000,-122.36600,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
57,ASOSAWOS,ASOSAWOS_72594524283,64.3128,40.978000,-124.10500,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
165,CIMIS,CIMIS_76,160.0000,34.924000,-120.51200,1987-12-18 00:00:00+00:00,1993-07-01 00:00:00+00:00,santa_ana_wind,NaN
42,ASOSAWOS,ASOSAWOS_72467523063,1980.2856,39.650000,-106.91700,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
158,CIMIS,CIMIS_51,180.0000,38.662000,-122.86600,1986-08-24 00:00:00+00:00,1994-03-28 00:00:00+00:00,santa_ana_wind,NaN
73,ASOSAWOS,ASOSAWOS_72792024227,60.9600,46.974000,-122.90500,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
131,CIMIS,CIMIS_7,185.0000,36.851248,-120.59098,1982-09-22 00:00:00+00:00,2024-01-22 13:36:19.951554+00:00,all,NaN
22,ASOSAWOS,ASOSAWOS_72392793110,11.8872,34.200000,-119.20400,1944-04-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
46,ASOSAWOS,ASOSAWOS_72476023066,1470.3552,39.134000,-108.54100,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
160,CIMIS,CIMIS_68,-38.0000,32.759575,-115.73207,1987-05-29 00:00:00+00:00,2024-01-22 13:36:19.951554+00:00,all,NaN
60,ASOSAWOS,ASOSAWOS_72597524235,1170.7368,42.600000,-123.36700,1973-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
3,ASOSAWOS,ASOSAWOS_72492023237,8.2296,37.890000,-121.22600,1941-01-03 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
1,OtherISD,OtherISD_72286023119,468.2000,33.900000,-117.25000,1933-01-01 00:00:00+00:00,2023-03-14 00:00:00+00:00,all,NaN
12,ASOSAWOS,ASOSAWOS_72288623130,239.2680,34.212000,-118.49100,1942-12-11 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
26,ASOSAWOS,ASOSAWOS_72595524259,806.1960,41.774000,-122.46800,1950-01-01 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
80,ASOSAWOS,ASOSAWOS_72292603154,21.3360,33.304000,-117.35500,1973-01-02 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN
147,CIMIS,CIMIS_43,3310.0000,41.063767,-121.45602,1983-10-31 00:00:00+00:00,2024-01-22 13:36:19.951554+00:00,all,NaN
93,ASOSAWOS,ASOSAWOS_72387003160,984.5040,36.621000,-116.02800,1978-05-15 00:00:00+00:00,2022-12-31 00:00:00+00:00,all,NaN

### Step 2: Holistic / qualitative station evaluation

In [4]:
# phase 2 lok at full timeseries for flags

for stn in event_stns:
    want to pull out all flags noted, frequency of flags of time record

In [ ]:
# look at timeseries during event for flags
event_start_date = 
event_end_date = 

# decision: do we add a few days prior/after event end date to evaluate "event anomaly"?

In [ ]:
# look at all stations (5-20 view) for the event to qualitatively get a sense of how stations did during the event with regards to qaqc flags

### Step 3: Validate against other QA/QC'd data
* GHCNh data -- need to figure out how to read this funky file format first

In [ ]:
# read in ghcnh data
## hector working on this

In [ ]:
#

In [13]:
# initial test for identifying the event: large jumps on windspeed