In [4]:
import os
import datetime
import pandas as pd
import xarray as xr
import boto3
import s3fs
from io import BytesIO, StringIO

## Import qaqc stage calc functions
try:
    from calc_qaqc import *
except:
    print("Error importing calc_qaqc.py")

In [5]:
df = pd.read_csv("qaqc_training_station_list.csv")
df = df.sample(n=len(df)).reset_index().drop(columns=['index'])
df.head(5)

                 era.id  elevation   network  longitude  latitude
0            CWOP_D1364   1686.000      CWOP -106.59931  52.11869
1            CWOP_D8735     92.000      CWOP -124.10030  44.31054
2            HADS_BCCN2   2486.000      HADS -114.84667  35.98083
3  ASOSAWOS_72384023155    149.352  ASOSAWOS -119.05500  35.43400
4  OtherISD_72378899999    212.000  OtherISD -114.56700  35.15000

In [6]:
networks = list(df['network'].unique())
len(networks)

18

In [7]:
newdf = []
for n in networks:
    tmp = df[df['network']==n].dropna()
    nSample = 6
    if len(tmp)<nSample:
        nSample = len(tmp)
    try:
        newdf.append(tmp.sample(nSample))
    except:
        try:
            newdf.append(tmp.sample(nSample))
        except:
            newdf.append(tmp.sample(nSample))
newdf = pd.concat(newdf).reset_index().drop(columns=['index'])
newdf.head(10)

       era.id  elevation network  longitude  latitude
0  CWOP_F1962    14052.0    CWOP -105.04200  38.84083
1  CWOP_E1644     9272.0    CWOP -106.50984  38.61204
2  CWOP_C8592     4810.0    CWOP -104.93083  40.48500
3  CWOP_C8504     5928.0    CWOP -110.73033  43.31950
4  CWOP_D2889      650.0    CWOP -122.65567  45.38433
5  CWOP_D5324       31.0    CWOP -128.12950  51.65450
6  HADS_WUPO3     4389.0    HADS -121.68694  43.68250
7  HADS_HIGC1     5908.0    HADS -122.49167  41.09167
8  HADS_HKOW1       14.0    HADS -124.36444  48.27639
9  HADS_BURN2     7575.0    HADS -115.40583  40.65028

In [8]:
newdf.to_csv("local_training_station.csv")

In [9]:
len(newdf)

79

In [10]:
12%6

0