In [1]:
import os
import datetime
import pandas as pd
import xarray as xr
import boto3
import s3fs
from io import BytesIO, StringIO

## Import qaqc stage calc functions
try:
    from calc_qaqc import *
except:
    print("Error importing calc_qaqc.py")

In [2]:
df = pd.read_csv("qaqc_training_station_list.csv")
df = df.sample(n=len(df)).reset_index().drop(columns=['index'])
df.head(5)

                 era.id  elevation   network   longitude   latitude
0            HADS_WATC1   5760.000      HADS -118.483890  35.072220
1  ASOSAWOS_72389523149     36.029  ASOSAWOS -119.063000  36.029000
2             CIMIS_233   2479.000     CIMIS -116.213508  34.138104
3            SNOTEL_455   8302.000    SNOTEL -111.537700  41.412890
4  ASOSAWOS_72295603167     16.764  ASOSAWOS -118.333000  33.924000

In [3]:
networks = list(df['network'].unique())
len(networks)

18

In [4]:
newdf = []
for n in networks:
    tmp = df[df['network']==n].dropna()
    try:
        newdf.append(tmp.sample(3))
    except:
        try:
            newdf.append(tmp.sample(2))
        except:
            newdf.append(tmp.sample(1))
newdf = pd.concat(newdf).reset_index().drop(columns=['index'])
newdf.head(5)

                 era.id  elevation   network  longitude  latitude
0            HADS_RKCW1  1445.0000      HADS -123.39917  46.52806
1            HADS_USCM8  4434.0000      HADS -111.09333  48.89389
2            HADS_YRSC2  7880.0000      HADS -106.91167  40.15333
3  ASOSAWOS_72690424231   153.0096  ASOSAWOS -123.35800  43.23400
4  ASOSAWOS_72476793069  1799.2344  ASOSAWOS -108.62600  37.30700

In [43]:
newdf.to_csv("local_training_station.csv")

In [44]:
len(newdf)

46