# Success Report Statistics

per station 
- total % flagged
- % flagged per variable
- % flagged per QAQC flag

NEED: per station raw counts tables

per network
- % flagged per variable (highest and lowest)
- % flagged per QAQC flag (highest and lowest)
- % flagged per station (highest and lowest)

NEED: raw count per variable (sum total obs and sum of flagged obs across all stations), raw count

total
- % flag

## Environment set-up

In [1]:
import boto3
import numpy as np
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt
from io import BytesIO, StringIO
from functools import reduce

import inspect

import logging
# Create a simple logger that just prints to the console
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger()

plt.rcParams["figure.dpi"] = 300

In [9]:
# Set AWS credentials
s3 = boto3.resource("s3")
s3_cl = boto3.client("s3")  # for lower-level processes

# Set relative paths to other folders and objects in repository.
bucket_name = "wecc-historical-wx"
stations_csv_path = f"s3://{bucket_name}/2_clean_wx/temp_clean_all_station_list.csv"
qaqc_dir = "3_qaqc_wx"
merge_dir = "4_merge_wx"

INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials

## Setup

In [ ]:
network = "ASOSAWOS"
station = "ASOSAWOS_72493023230"

In [10]:
stations_df = pd.read_csv(stations_csv_path)

In [ ]:
def network_stats(network: str) -> pd.DataFrame:
    """
    Generates multiple dataframes of statistics and counts per station

    Parameters
    ----------
    df : pd.DataFrame
        station dataset converted to dataframe through QAQC pipeline
    network: str
        network name
    station: str
        station name

    Returns
    -------
    None
    """
    

    for station in station_list:
    key_native = f"4_merge_wx/{network}/eraqc_counts/{station}_flag_counts_native_timestep.csv"

    flag_counts_native = pd.read_csv(f"s3://wecc-historical-wx/{key_native}")


    return results

In [3]:
key_native = f"4_merge_wx/{network}/eraqc_counts/{station}_flag_counts_native_timestep.csv"

flag_counts_native = pd.read_csv(f"s3://wecc-historical-wx/{key_native}")

INFO:aiobotocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials

In [4]:
key_hourly = f"4_merge_wx/{network}/eraqc_counts/{station}_flag_counts_hourly_standardized.csv"

flag_counts_hourly = pd.read_csv(f"s3://wecc-historical-wx/{key_hourly}")

In [5]:
flag_counts_hourly

,eraqc_flag_values,elevation,pr,ps_altimeter,ps,psl,sfcWind_dir,sfcWind,tas,tdps
0,21.0,0,0,0,7296,22079,0,0,0,0
1,23.0,0,0,24,3,23,0,0,10,200
2,26.0,0,0,0,0,0,0,0,94,332
3,27.0,0,0,0,0,0,0,16,0,14
4,28.0,0,0,0,0,0,0,0,0,25
5,no_flag,338512,338512,338490,331214,316410,338512,338496,338428,338004
6,total_obs_count,338512,338512,338512,338512,338512,338512,338512,338512,338512

In [6]:
flag_counts_native

,eraqc_flag_values,elevation,pr,ps_altimeter,ps,psl,sfcWind_dir,sfcWind,tas,tdps
0,no_flag,415892,415892,415867,401335,393313,415892,415876,415783,415318
1,23.0,0,0,25,4,28,0,0,10,201
2,21.0,0,0,0,14553,22551,0,0,0,0
3,27.0,0,0,0,0,0,0,16,0,16
4,26.0,0,0,0,0,0,0,0,99,332
5,28.0,0,0,0,0,0,0,0,0,25
6,total_obs_count,415892,415892,415892,415892,415892,415892,415892,415892,415892